.button {
  display: block;
  text-align: center;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
}

.button--rounded {
  border-radius: 29px;
  padding-top: 17px;
  padding-bottom: 17px;
}
