.contest {
  max-width: 1200px;
  margin: 0 auto;
}

.contest__description-wrapper {
  padding-top: 44px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 91px;
    padding-bottom: 38px;
  }
}

.contest__description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;

    font-size: 18px;
  }
}

.contest__description-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.contest__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 130px;
  }
}

.contest__form-fieldset {
  margin: 0;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $color-whisper;
    border-radius: 1px;
  }
}

.contest__form-control-mark {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;
  margin-right: 19px;

  background-color: $color-white;
  border: 2px solid $color-whisper;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }

  &:hover {
    border: 2px solid $color-midnight;
  }

  &:active {
    border: 2px solid $color-cerise;
  }
}

.contest__form-name {
  padding: 30px 20px 25px 20px;


  @media (min-width: $tablet-width) {
    padding-top: 29px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 43px 35px 25px 0;
  }
}

.contest__name-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contest__name-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    margin-bottom: 47px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contest__name-label {
  display: flex;
  flex-direction: column;
  margin-left: 23px;

  font-size: 14px;
  line-height: 30px;
  color: $color-cerise;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-left: 0;
  }
}

.contest__field {
  box-sizing: border-box;
  min-width: 280px;
  min-height: 63px;
  padding: 15px 20px 17px 20px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid $color-whisper;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    padding: 14px 18px 18px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &:hover {
    border: 2px solid $color-midnight;
  }

  &:active {
    border: 2px solid $color-cerise;
  }
}

.contest__name-input {
  width: 100%;
  height: 59px;
  margin-top: 5px;
  margin-left: -23px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
    padding-left: 20px;
  }
}

.contest__form-achievments {
  padding: 39px 20px 43px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    order: 4;
    padding-top: 32px;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.contest__achievments-checkbox:checked + .contest__form-control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 22px;
  height: 16px;

  background-image: url("../img/svg/checked.svg");
  transform: translate(-50%, -50%);
}

.contest__legend {
  margin-bottom: 37px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-cerise;
  text-transform: uppercase;

  &--contacts {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 31px;
    padding-left: 31px;
  }
}

.contest__achievments-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    padding-right: 20px;
    padding-bottom: 47px;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 13px;
  }
}

.contest__achievments-item {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    width: 260px;

    &--shark {
      order: 1;
    }

    &--burn {
      order: 4;
    }

    &--chuck {
      order: 2;

      @media (min-width: $desktop-width) {
        margin-left: 27px;
      }
    }

    &--souvenirs {
      order: 5;

      @media (min-width: $desktop-width) {
        margin-left: 27px;
      }
    }

    &--tower {
      order: 3;

      @media (min-width: $desktop-width) {
        margin-left: 7px;
        width: 248px;
      }
    }

    &--hotel {
      order: 6;

      @media (min-width: $desktop-width) {
        margin-left: 7px;
        width: 248px;
      }
    }
  }
}

.contest__achievments-item:last-child {
  margin-bottom: 0;
}

.contest__achievments-label {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;
}

.contest__form-contacts {
  flex-grow: 1;
  padding: 31px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 0 25px 0;
  }
}

.contest__contacts-list {
  margin: 0;
  padding: 0;

  list-style-type: none;


  @media (min-width: $tablet-width) {
    margin-top: -2px;
    padding-right: 60px;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.contest__contacts-item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 74px;
    margin-bottom: 13px;
  }

  &::before {
    display: none;

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 2px;
      right: 0;

      display: block;
      width: 59px;
      height: 59px;

      background-color: $color-whisper;
    }
  }

  &--phone::after {
    display: none;

    @media (min-width: $tablet-width) {
      content: url("../img/svg/phone-icon.svg");
      position: absolute;
      top: 22%;
      right: 19px;

      display: block;
      width: 20px;
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 20%;
      right: 18px;
    }
  }

  &--email::after {
    display: none;

    @media (min-width: $tablet-width) {
      content: url("../img/svg/mail-icon.svg");
      position: absolute;
      top: 23%;
      right: 18px;

      display: block;
      width: 20px;
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 21%;
    }
  }
}

.contest__contacts-item:last-child {
  margin-right: 0;
}

.contest__contacts-input {
  width: 100%;
  margin-top: 5px;
  padding-bottom: 14px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 30px;


  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    margin-bottom: 9px;
  }
}

.contest__contacts-label {
  margin-left: 24px;

  font-size: 14px;
  line-height: 30px;
  color: $color-cerise;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: 19px;
  }
}

.contest__form-platform {
  padding: 39px 20px 8px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    order: 2;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 33px 0 8px 35px;
  }
}

.contest__platform-list {
  margin: 0;
  margin-top: -2px;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 73px;
    padding-bottom: 17px;
  }
}

.contest__platform-item {
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.contest__platform-radio::before {
  content: "";

  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 31px;

  vertical-align: middle;

  background-color: transparent;
  border: 2px solid $color-whisper;
}

.contest__platform-label {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;
}

.contest__platform-label .contest__form-control-mark {
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.contest__platform-radio + .contest__form-control-mark {
  border-radius: 50%;
}

.contest__platform-radio:checked + .contest__form-control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 15px;
  height: 15px;

  background-color: $color-cerise;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.contest__form-emotions {
  order: 4;
  width: 100%;
  padding: 38px 20px 23px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 23px 0;
  }
}

.contest__emotions-wrapper {
  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.contest__form-emotions .contest__legend {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.contest__emotions-textarea {
  width: 100%;
  min-height: 201px;
  padding: 13px 25px 22px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;

  border: 2px solid $color-whisper;

  @media (min-width: $tablet-width) {
    min-height: 193px;
    margin-bottom: 48px;
    padding: 14px 17px 22px 18px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
    margin-bottom: 40px;
  }
}

.contest__form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 5;
  margin-bottom: -3px;
  padding: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
  }
}

.contest__submit-button {
  margin-bottom: 34px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.contest__submit-notification {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__star-required {
  color: $color-cerise;
}

.contest__submit-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
