.contest {
  max-width: 1200px;
  margin: 0 auto;
}

.contest__description-wrapper {
  padding-top: 54px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.contest__description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;

    font-size: 18px;
  }
}

.contest__description-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.contest__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 130px;
  }
}

.contest__form-fieldset {
  margin: 0;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $color-whisper;
    border-radius: 1px;
  }
}

.contest__form-control-mark {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 22px;

  background-color: $color-white;
  border: 2px solid $color-whisper;
  border-radius: 1px;
}

.contest__form-name {
  padding: 54px 20px 44px 20px;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contest__name-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contest__name-item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    margin-bottom: 56px;
  }
}

.contest__name-label {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 30px;
  color: $color-cerise;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.contest__field {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 22px 15px 22px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid $color-whisper;
  border-radius: 2px;
}

.contest__name-input {
  width: 100%;
  height: 59px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.contest__form-achievments {
  padding: 42px 20px 50px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    order: 4;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.contest__form-achievments-checkbox[type="checkbox"]:checked + .contest__form-control-mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 13px;
  height: 10px;

  background-image: url("../img/svg/yes.svg");
}

.contest__legend {
  margin-bottom: 55px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-cerise;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.contest__achievments-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-bottom: 37px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contest__achievments-item {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    width: 255px;

    &--shark {
      order: 1;
    }

    &--burn {
      order: 4;
    }

    &--chuck {
      order: 2;
    }

    &--souvenirs {
      order: 5;
    }

    &--tower {
      order: 3;
    }

    &--hotel {
      order: 6;
    }
  }
}

.contest__achievments-item:last-child {
  margin-bottom: 0;
}

.contest__achievments-label {
  position: relative;

  display: flex;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;
}

.contest__form-contacts {
  flex-grow: 1;
  padding: 42px 20px 50px 20px;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.contest__contacts-list {
  margin: 0;
  padding: 0;

  list-style-type: none;


  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.contest__contacts-item {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 74px;
  }

  &::before {
    display: none;

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      right: 0;

      display: block;
      width: 59px;
      height: 59px;

      background-color: $color-whisper;
    }
  }

  &--phone::after {
    display: none;

    @media (min-width: $tablet-width) {
      content: url("../img/svg/phone-icon.svg");
      position: absolute;
      top: 18%;
      right: 19px;

      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &--email::after {
    display: none;

    @media (min-width: $tablet-width) {
      content: url("../img/svg/mail-icon.svg");
      position: absolute;
      top: 18%;
      right: 19px;

      display: block;
      width: 20px;
      height: 20px;
    }
  }
}

.contest__contacts-item:last-child {
  margin-right: 0;
}

.contest__contacts-input {
  width: 100%;
  min-height: 59px;
  padding: 13px;

  font-size: 18px;
  line-height: 30px;


  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.contest__contacts-label {
  font-size: 14px;
  line-height: 30px;
  color: $color-cerise;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.contest__form-platform {
  padding: 42px 20px 42px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    order: 2;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contest__platform-list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.contest__platform-item {
  margin-bottom: 50px;
}

.contest__platform-radio::before {
  content: "";

  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 31px;

  vertical-align: middle;

  background-color: transparent;
  border: 2px solid $color-whisper;
}

.contest__platform-label {
  display: flex;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }
}

.contest__platform-label + .contest__form-control-mark {
  border-radius: 50%;
}

.contest__form-emotions {
  order: 4;
  width: 100%;
  padding: 42px 20px 42px 20px;
}

.contest__emotions-wrapper {
  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.contest__emotions-textarea {
  width: 100%;
  min-height: 176px;
  margin-bottom: 52px;
  padding: 22px 25px 22px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;

  border: 2px solid $color-whisper;

  @media (min-width: $tablet-width) {
    min-height: 189px;
    padding: 22px 23px 22px 20px;
  }
}

.contest__form-submit {
  display: flex;
  flex-direction: column;
  order: 5;
  margin-bottom: 66px;
  padding: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.contest__submit-button {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.contest__submit-notification {
  margin: 0;

  text-transform: uppercase;
}

.contest__star-required {
  color: $color-cerise;
}
