.contacts {
  padding-top: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding: 0 20%;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    max-width: 550px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.contacts__item {
  padding: 5px;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    margin-right: auto;
    margin-left: auto;
  }

  &--call {
    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  &--email {
    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  &--visit {
    @media (min-width: $desktop-width) {
      order: 2;
    }
  }
}

.contacts__term {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.contacts__description {
  display: block;
  margin: 0;
  margin-bottom: 35px;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $color-cerise;
}
