.contest__description {
  margin: 0;
  padding: 54px 20px 55px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.contest__form-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.contest__form-name {
  padding: 54px 20px 44px 20px;
}

.contest__name-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contest__name-item {
  display: flex;
  flex-direction: column;
}

.contest__name-label {
  font-size: 14px;
  line-height: 30px;
  color: $color-cerise;
  text-transform: uppercase;
}

.contest__name-input {
  width: 276px;
  min-height: 59px;
  padding: 20px;

  font: inherit;
  font-size: 18px;
  line-height: 30px;
}

.contest__form-achievments {
  padding: 42px 20px 50px 20px;

  background-color: $color-white-smoke;
}

.contest__legend {
  margin-bottom: 55px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-cerise;
  text-transform: uppercase;
}

.contest__achievments-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contest__achievments-item {
  margin-bottom: 50px;
}

.contest__achievments-label {
  margin-left: 22px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;
}

.contest__form-contacts {
  padding: 42px 20px 50px 20px;
}

.contest__contacts-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contest__contacts-input {
  width: 276px;
  min-height: 59px;
  padding: 20px;

  font: inherit;
  font-size: 18px;
  line-height: 30px;
}

.contest__contacts-label {
  font-size: 14px;
  line-height: 30px;
  color: $color-cerise;
  text-transform: uppercase;
}

.contest__form-platform {
  padding: 42px 20px 42px 20px;

  background-color: $color-white-smoke;
}

.contest__platform-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contest__platform-item {
  margin-bottom: 50px;
}

.contest__platform-label {
  margin-left: 22px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;
}

.contest__form-emotions {
  padding: 42px 20px 42px 20px;
}

.contest__emotions-textarea {
  width: 276px;
  min-height: 176px;
  margin-bottom: 52px;
  padding: 22px 25px 22px 20px;

  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-midnight;
}

.contest__form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 66px;
}

.contest__submit-button {
  margin-bottom: 46px;
}

.contest__submit-notification {
  margin: 0;

  font: inherit;
  text-transform: uppercase;
}

.contest__star-required {
  color: $color-cerise;
}
