.effect {
  position: relative;

  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-midnight;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-white-smoke;
  }
}

.effect__container::before {
  content: "";
  position: absolute;
  display: block;
  width: 350px;
  height: 370px;

  background-image: url("../img/svg/timer-full.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 238px 276px;

  @media (min-width: $desktop-width) {
    background-size: 298px 345px;
  }
}

.effect__wrapper {
  padding: 100px 0 100px 50%;
  position: relative;
}

.effect__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.effect__text {
  margin: 0;
  margin-bottom: 24px;
}

.effect__link {
  color: $color-cerise;
  text-decoration: underline;
}
