.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-bottom: 30px;
}

.social {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.social__item {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: solid 2px #283645;
}

.social__icon {
  position: absolute;
  left: 30%;
  top: 30%;
}

.page-footer__copyright {
  display: flex;
  align-content: center;
}

.page-footer__copyright-text {
  display: block;
}
