.gallery {
  padding-top: 44px;
  padding-bottom: 10px;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding-top: 91px;
    padding-bottom: 15px;
  }
}

.gallery__intro {
  padding: 0 20px 50px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 50px 77px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 180px 89px 180px;
  }
}

.gallery__intro-text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.gallery__list {
  display: grid;
  max-width: 320px;
  margin: 0 auto;

  list-style-type: none;

  gap: 20px;

  @media (min-width: $tablet-width) {
    max-width: 660px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;

    gap: 54px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  @media (min-width: $tablet-width) {
    min-height: 455px;
  }
}

.gallery__item-main {
  position: relative;

  margin-bottom: 20px;

  &::before {
    content: "панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;

    width: 140px;
    height: 36px;
    padding: 6px 20px 14px 19px;

    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;

    background-color: $color-cerise;

    @media (min-width: $tablet-width) {
      top: 57px;
    }

    @media (min-width: $desktop-width) {
      top: 54px;
      right: 130px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.gallery__item-main-label {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;

  width: 140px;
  height: 36px;
  padding: 6px 20px 11px 19px;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-cerise;
}
