.intro {
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $color-midnight;
    background-image: url("../img/backgrounds/intro-background-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/intro-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/intro-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/intro-background-desktop@2x.jpg");
    }
  }

  &--main::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;

      width: 660px;
      height: 550px;

      background-image: url("../img/backgrounds/iphone-hand-tablet.png");
      background-repeat: no-repeat;
      background-size: 660px 550px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backgrounds/iphone-hand-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      width: 1050px;
      height: 645px;

      background-image: url("../img/backgrounds/iphone-hand-desktop.png");
      background-repeat: no-repeat;
      background-size: 1050px 645px;
      background-position-x: center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backgrounds/iphone-hand-desktop@2x.png");
      }
    }
  }
}

.intro__wrapper {
  background-color: $color-midnight;
  background-image: url("../img/backgrounds/intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/intro-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: transparent;
  }
}

.intro__description {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.intro__wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 258px;
  height: 286px;

  background-image: url("../img/backgrounds/iphone-hand-mobile.png");
  background-repeat: no-repeat;
  background-size: 258px 286px;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/iphone-hand-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__title {
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 340px;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $color-white;

  &--main {
    align-self: flex-start;

    @media (min-width: $tablet-width) {
      margin: 0;

      font-size: 40px;
      line-height: 48px;
    }

    @media (min-width: $desktop-width) {
      max-width: 100%;
      padding: 0;
      padding-top: 102px;
      padding-right: 68%;

      font-size: 50px;
      line-height: 68px;
    }
  }

  &--inner {
    padding: 36px 26px 51px 26px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 81px;
    padding-bottom: 74px;

    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding-top: 74px;
    padding-bottom: 104px;
  }
}
