.intro {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-color: $color-midnight;
    background-image: url("../img/backgrounds/intro-background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.intro__wrapper {
  background-color: $color-midnight;
  background-image: url("../img/backgrounds/intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background: transparent;
  }
}

.intro__description {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.intro__title {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 300px;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $color-white;

  &--main {
    align-self: flex-start;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 48px;
      padding: 102px 65% 32px 10%;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-top: 102px;
      padding-right: 68%;

      font-size: 50px;
      line-height: 68px;
    }
  }

  &--inner {
    padding: 36px 26px 51px 26px;
  }

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 81px;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 104px;
  }
}
