.map {
  width: 100%;
  height: 200px;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

.map iframe {
  border: none;
  width: 100%;
  height: 100%;
}
