.modal-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 20px 52px 20px;
}

.modal-form__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 37px;
}

.modal-form__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  &--failure {
    margin-bottom: 50px;
  }
}

.modal-form__button-wrapper {
  padding: 52px 22px;
  background-color: $color-white-smoke;
}
