.navigation {
  width: 100vw;
  left: 50%;
  top: 60px;
  position: absolute;
  transform: translateX(-50%);

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: auto;
    position: static;
    transform: translateX(0);
  }
}

.navigation__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-weight: 700;
  line-height: 32px;
  color: $color-white;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 620px;
  }
}

.navigation__list-item {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  background: $color-midnight;
  box-shadow: 0 1px 0 $color-black;

  @media (min-width: $desktop-width) {
    padding: 10px;

    background: transparent;
    box-shadow: none;
  }
}
