.navigation-toggle {
  margin-left: auto;
}

.navigation--mobile {
 z-index: 1;
}

.navigation--mobile-hidden {
  display: none;
}

.navigation--mobile-show {
  display: block;
}

.navigation__list {
  list-style-type: none;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navigation__list__item {
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  background: #283645;
  box-shadow: 0px 1px 0px #000000;
  // inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}
