.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 34px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 70px;
  }
}

.page-footer__logo {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: -12px;
    margin-right: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -16px;
    margin-right: 232px;
  }
}

.page-footer__svg {
  &--mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-footer__social {
  display: grid;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style-type: none;

  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 101px;
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 238px;
  }
}

.page-footer__social-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;

  border: solid 3px rgba($color-midnight, 0.1);
  border-radius: 50%;

  &:hover {
    border: solid 3px $color-midnight;
  }

  &:active {
    border: solid 3px rgba($color-midnight, 0.3);
    opacity: 0.3;
  }
}

.page-footer__social-icon {
  position: absolute;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-text {
  display: block;
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.page-footer__copyright-icon {
  fill: $color-cerise;

  &:hover {
    fill: $color-midnight;
  }

  &:active {
    fill: $color-midnight;
    opacity: 0.3;
  }
}
