.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.page-footer__logo {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__svg {
  &--mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-footer__social {
  display: grid;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;

  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social-link {
  position: relative;

  display: block;
  width: 54px;
  height: 54px;

  border: solid 3px rgba($color-midnight, 0.1);
  border-radius: 50%;
}

.page-footer__social-icon {
  position: absolute;
  top: 30%;
  left: 30%;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-text {
  display: block;
}
