.photo__wrapper {
  padding: 25px 25px 25px 17px;

  font-size: 14px;
  line-height: 24px;
  color: $color-midnight;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 155px;
    display: flex;
    flex-direction: column;
  }
}

.photo__image {
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 300px;
  }

  &--main {
    max-width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      max-width: 660px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1200px;
    }
  }
}

.photo__author {
  display: flex;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.photo__author-name {
  margin: 0;
  margin-right: 3px;

  font-weight: 700;
}

.photo__date {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__text {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.photo__likes {
  display: flex;
  align-content: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 20px;

    &--main {
      top: 32px;
      right: 20px;
    }
  }
}

.photo__like-button {
  margin-right: 18px;
  width: 14px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/svg/heart.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-right: 0;
  }
}

.photo__like-count {
  font-weight: 300;
  font-size: 12px;
  color: $color-cerise;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 140px;

    &--main {
      margin-right: 20px;
    }
  }
}
