.price {
  padding: 159px 0 98px 0;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding: 70px 0;
  }
}

.price__slider {
  display: flex;
  flex-direction: column;
}

.price__pagination {
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
