.price {
  padding: 159px 20px 98px 20px;

  background-color: $color-white-smoke;
}

.price__slider {
  display: flex;
  flex-direction: column;
}

.price__pagination {
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
