.store {
  color: $color-white;

  background-color: $color-blue-charcoal;

  @media (min-width: $tablet-width) {
    background: transparent;
  }
}

.store__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  padding: 28px 20px 31px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: -6px;
    padding: 0;
  }
}

.store__button {
  width: 280px;
  margin-bottom: 31px;

  border: 3px solid #ffffff;

  &:hover {
    color: $color-cerise;

    background-color: $color-white;
  }

  &:active {
    color: rgba($color-cerise, 0.3);

    background-color: $color-white;
  }

  @media (min-width: $tablet-width) {
    z-index: 1;

    width: 300px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;

    font-size: 21px;
    line-height: 18px;
  }
}

.store__list {
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 204px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.store__microsoft {
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.store__apple {
  @media (min-width: $tablet-width) {
    margin-top: -4px;
  }
}

.store__description {
  max-width: 230px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    z-index: 1;

    max-width: 300px;
    margin-bottom: 114px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 125px;
  }
}
