.table-price {
  max-width: 940px;
  margin-bottom: 20px;

  border-spacing: 0;
}

.table-price__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 276px;
  padding: 9px 0 27px 0;

  color: $color-white;
  text-transform: uppercase;

  background-color: $color-midnight;
  border: 2px solid $color-midnight;


  @media (min-width: $tablet-width) {
    min-width: 149px;
    padding: 10px 0 5px 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 234px;
    padding: 14px 55px 18px 60px;
  }
}

.table-price__header {
  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--hit {
    position: relative;

    &::before {
      content: url("../img/svg/hit.svg");
      position: absolute;
      top: 1px;
      left: -1px;

      width: 74px;
      height: 74px;

      @media (min-width: $tablet-width) {
        content: url("../img/svg/hit-tablet.svg");

        width: 61px;
        height: 61px;
      }

      @media (min-width: $desktop-width) {
        content: url("../img/svg/hit.svg");
        left: 3px;

        width: 74px;
        height: 74px;
      }
    }
  }
}

.table-price__license-type {
  margin-bottom: -3px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $color-white;

  @media (min-width: $desktop-width) {
    margin-bottom: 1px;

    font-size: 18px;
  }
}

.table-price__license-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.table-price__text {
  display: block;
  padding: 11px 110px 14px 18px;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.table-price__cell {
  position: relative;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  background-color: $color-white;
  border: 2px solid $color-whisper;

  @media (min-width: $tablet-width) {
    min-width: 152px;
    padding: 8px 15px 5px 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
    padding: 12px 20px 15px;

    font-size: 18px;
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}


.table-price__feature-value {
  &--false::before {
    content: url("../img/svg/no.svg");
    position: absolute;
    top: 23%;
    left: 84%;

    margin: 0 auto;

    @media (min-width: $tablet-width) {
      top: 21%;
      left: 41%;
    }

    @media (min-width: $desktop-width) {
      top: 25%;
      left: 45%;
    }
  }

  &--true::before {
    content: url("../img/svg/yes.svg");
    position: absolute;
    top: 27%;
    left: 83%;

    margin: 0 auto;

    @media (min-width: $tablet-width) {
      left: 40%;
    }

    @media (min-width: $desktop-width) {
      top: 27%;
      left: 44%;
    }
  }
}
