.table-price {
  max-width: 940px;

  border-spacing: 0;
  margin-bottom: 60px;
}

.table-price__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding: 19px 0 30px 0;

  color: $color-white;
  text-transform: uppercase;

  background-color: $color-midnight;
  border: 2px solid $color-midnight;


  @media (min-width: $tablet-width) {
    padding: 19px 0 16px 0;
    min-width: 152px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 67px 25px 67px;
    min-width: 234px;
  }
}

.table-price__header {
  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: url("../img/svg/hit.svg");
      width: 74px;
      height: 74px;
      left: -1px;
      top: 1px;
    }
  }
}

.table-price__license-type {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $color-white;
}

.table-price__license-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.table-price__text {
  display: block;
  padding: 24px 125px 25px 20px;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.table-price__cell {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  background-color: $color-white;
  border: 2px solid $color-whisper;

  @media (min-width: $tablet-width) {
    min-width: 152px;
    padding: 18px 15px 17px 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;

    font-size: 18px;
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}


.table-price__feature-value {
  &--false::before {
    content: url("../img/svg/no.svg");
    margin: 0 auto;
    position: absolute;
    top: 33%;
    left: 80%;

    @media (min-width: $tablet-width) {
      left: 43%;
    }

    @media (min-width: $desktop-width) {
      left: 46%;
    }
  }

  &--true::before {
    content: url("../img/svg/yes.svg");
    margin: 0 auto;
    position: absolute;
    top: 33%;
    left: 80%;

    @media (min-width: $tablet-width) {
      left: 43%;
    }

    @media (min-width: $desktop-width) {
      left: 46%;
    }
  }
}
