.upload {
  padding: 49px 0 41px 0;
}

.upload__title {
  margin: 0;
  margin-bottom: 52px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.upload__form {
  background-color: $white-smoke;
  padding: 20px;
}

.upload__form-field {
  margin-bottom: 43px;
}

.upload__controls-wrapper {
  display: grid;
  margin-bottom: 34px;
  // grid-template-columns: repeat(3, 1fr);
  // пока не понял как их расположить из-за разных версий сайта (один рэйнж или три)
}

.upload__form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__form-submit {
  color: $cerise;
  border: 3px solid $cerise;
  margin-bottom: 12px;
}

.upload__form-reset {
  border: 3px solid $midnight;
  opacity: 0.1;
}
