.upload {
  padding: 49px 0 41px 0;
}

.upload__title {
  margin: 0;
  margin-bottom: 52px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 95px;
  }
}

.upload__form {
  background-color: $color-white-smoke;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.upload-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-white-smoke;
    padding: 57px 60px 57px 80px;
  }
}

.upload__form-field {
  margin-bottom: 43px;

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.upload__form-controls {
  flex-grow: 1;
}

.upload__controls-wrapper {
  display: grid;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 167px;
  }
}

.upload__buttons-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 72px;
  }
}

.upload__controls-button {
  @media (min-width: $tablet-width) {
    margin-right: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 45px;
  }
}

.upload__form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.upload__controls-range {
  @media (min-width: $tablet-width) {
    min-width: 200px;
  }

  @media (min-width: $desktop-width) {
    min-width: 290px;
  }
}

.upload__form-submit {
  margin-bottom: 12px;

  color: $color-cerise;

  border: 3px solid $color-cerise;

  @media (min-width: $desktop-width) {
    width: 183px;
    margin-bottom: 0;
  }
}

.upload__form-reset {
  border: 3px solid $color-midnight;
  opacity: 0.1;

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}
