$font-family-base: "Open Sans", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 24px;

$color-black: #000000;
$color-midnight: #283645;
$color-blue-charcoal: #1d2631;
$color-green: #2aab6d;
$color-cerise: #d22856;
$color-white-smoke: #f2f2f2;
$color-white: #ffffff;

$tablet-width: 660px;
$desktop-width: 1200px;
